

/* Image part */
h1{
    text-align: center;
}
#firstImg{
    height: 370px;
    width: 98%;
    border: 1px solid transparent;
    background-image: url("https://www.bigbasket.com/media/uploads/banner_images/hp_sbf_m_snackingstore_460_251221.jpg");
    background-size: cover;
}
#option_on_img{
    height: 50px;
    width: 60%;
    margin: auto;
    border: 1px solid transparent;
    margin-top: 320px;
    display: flex;
}
#option_on_img>div{
    height: 100%;
    width: 14%;
    border: 1px solid transparent;
    background-color: #e1dbd8;
    text-align: center;
    font-weight: bold;
    color: black;
    
}
#opt_container{
    height: 100px;
    width: 80%;
    border: 5px solid transparent;
    margin: auto;
    display: flex;
}
#opt_container>div{
    height: 60%;
    width: 14%;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #e8e8e8;
    text-align: center;
}
#opt_container>div:nth-child(3){
    background-color: red;
    color: white;
}
#opt_container>div:nth-child(4){
    background-color: red;
    color: white;
}
#snack_store:hover{
    cursor: pointer;
    background-color: aquamarine;
}

#fruits_vegetable:hover{
   cursor: pointer;
   background-color: aquamarine;
}
#fresh_meat:hover{
    cursor: pointer;
    background-color: aquamarine;
}
#kitchen:hover{
    cursor: pointer;
    background-color: aquamarine;
}
#eggMeat:hover{
    cursor: pointer;
    background-color: red;
}
#divpic{
    background-image: url("https://www.bigbasket.com/media/uploads/banner_images/hp_button_m_04_60_251221.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#smartbskt{
    text-align: center;
}
#sl_cont{
    height: 330px;
    width: 90%;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
    gap: 5px;
}
#sl_cont>div{
    height: 100%;
    width: 18%;
    border: 1px solid transparent;
    padding-left: 10px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* poster */
#poster{
    height: 385px;
    width: 85%;
    border: 1px solid transparent;
    margin: auto;
    background-image: url("https://www.bigbasket.com/media/uploads/banner_images/hp_cmc_c_hardinsasta_400_190122_Bhopal.jpg");
    background-size: cover;
    margin-top: 20px;
}
#bank_offer{
    height: 230px;
    width: 90%;
    border: 1px solid transparent;
    display: flex;
    gap: 10px;
    margin: auto;
}
#bank_offer>div{
    height: 100%;
    width: 24%;
    border: 1px solid transparent;
}
#bank_offer>div:nth-child(1){
    background-image: url("https://www.bigbasket.com/media/customPage/8b73190c-8eda-4a77-b416-3b04e5bbec6e/054e730b-2605-4882-a4df-7722e87bdf89/0befa439-3778-47c8-96af-4cd19482f452/hp_aff_m_indus-1000_360_010122.jpg");
    background-size: contain;
}
#bank_offer>div:nth-child(2){
    background-image: url("https://www.bigbasket.com/media/customPage/8b73190c-8eda-4a77-b416-3b04e5bbec6e/054e730b-2605-4882-a4df-7722e87bdf89/0befa439-3778-47c8-96af-4cd19482f452/hp_aff_m_paytm-2_360_010122.jpg");
    background-size: contain;
}
#bank_offer>div:nth-child(3){
    background-image: url("https://www.bigbasket.com/media/customPage/8b73190c-8eda-4a77-b416-3b04e5bbec6e/054e730b-2605-4882-a4df-7722e87bdf89/0befa439-3778-47c8-96af-4cd19482f452/hp_aff_m_rbl-2_360_010122.jpg");
    background-size: contain;
}
#bank_offer>div:nth-child(4){
    background-image: url("https://www.bigbasket.com/media/customPage/8b73190c-8eda-4a77-b416-3b04e5bbec6e/054e730b-2605-4882-a4df-7722e87bdf89/0befa439-3778-47c8-96af-4cd19482f452/hp_aff_m_rupay-2_360_010122.jpg");
    background-size: contain;
}

/* Responsive website for medium screen  */
@media only screen and (min-width:360px) and (max-width:740px){
    #firstImg{
        height: 100px;
        width: 80%;
        border: 1px solid transparent;
        background-image: url("https://www.bigbasket.com/media/uploads/banner_images/hp_sbf_m_snackingstore_460_251221.jpg");
        background-size: cover;
    }
    #option_on_img{
        height: 20px;
        width: 60%;
        margin: auto;
        border: 1px solid transparent;
        margin-top: 80px;
        display: flex;
    }
    #option_on_img>div{
        height: 100%;
        width: 25%;
        border: 1px solid white;
        background-color: #e1dbd8;
        text-align: center;
        /* font-weight: bold; */
        color: black;
        font-size: 5px;
        margin: auto;
        
    }
    #opt_container{
        width: 50%;
        margin: auto;
        margin-left: 30px;
    }
    #opt_container>div{
        height: 40%;
        width: 14%;
        border: 1px solid transparent;
        font-size: 10px;
        font-weight: bold;
       
    }

    #sl_cont{
        height: 200px;
        width: 60%;
        border: 1px solid transparent;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
    }
    #sl_cont>div{
        height: 90%;
        width: 50%;
        border: 1px solid transparent;
        padding-left: 10px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    #poster{
        height: 100px;;
        width: 100%;
        margin-top: 1500px;
    }


    #bank_offer{
        height: 230px;
        width: 80%;
        border: 1px solid transparent;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        margin: auto;
        margin-left: 110px;
    }
    #bank_offer>div{
        height: 90%;
        width: 24%;
        border: 1px solid transparent;
        background-repeat: no-repeat;
    }  
}