.container{
    height: 100px;
    width: 96%;
    border: 1px solid transparent;
    margin: auto;
    display: flex;
}
.container>div:nth-child(1){
  height: 100%;
  width: 20%;
  border: 1px solid transparent;
  background-image: url("https://www.bbassets.com/static/staticContent/bb_logo.png");
 background-repeat: no-repeat;
margin-top: 20px;
}
.container>div:nth-child(2){
  height: 100%;
  width: 68%;
  border: 1px solid transparent;
}
.container>div:nth-child(3){
  height: 100%;
  width: 12%;
  border: 1px solid transparent;
  
}
#box3>div:nth-child(1){
height: 20%;
width: 100%;
border: 1px solid transparent;
}
#box3>div:nth-child(2){
height: 80%;
width: 100%;
border: 1px solid transparent;

}
#cartItem{
  display: flex;
  background-color: gainsboro;
}
#cart_size{
 height: 100%;
 width: 50%;
 border: 1px solid transparent;
 font-size: 50px;
}

#box2>div{
  height: 50%;
  width: 100%;
  border: 1px solid transparent;
}
#search_product{
  height: 80%;
  width: 650px;
  border: 1px solid black;
}
#search{
  height: 100%;
  width: 50px;
  
  background-color: blueviolet;
}
#search:hover{
 color: white;
  font-weight: bold;
}
#customer_no{
  height: 100%;
  width: 20%;
  border: 1px solid transparent;

  text-align: center;
  /* padding: 10px 0px; */
 
}
#customer_no:hover{
    color: green;
}
#location{
  display: flex;
}
#location>div:nth-child(2){
  height: 100%;
  width: 88%;
  border: 1px solid transparent;
}
#location>div:nth-child(1){
  height: 45%;
  width: 12%;
  border: 2px solid transparent;
}
#cusLoc{
  display: flex;
  justify-content: end;
}
select{
  height: 50%;
  width: 100%;
  border: 0px;
}
#sign_up:hover{
    background-color: aquamarine;
    cursor: pointer;
}
.offers{
    height: 50px;
    width: 95%;
    border: 1px solid transparent;
    margin-top: 10px;
    margin: auto;
    display: flex;
    gap: 10px;
    font-size: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 20px;
}
.offers>div:nth-child(1){
    background-color: #84c225;
    padding: 8px;
    color: white;
    font-weight: bold;
}
.offers>div:nth-child(2){
    padding: 8px;
}
.offers>div:nth-child(2):hover{
    background-color: #84c225;
    color: white;
    font-weight: bold;
}
.offers>div:nth-child(3){
    padding: 8px;
}
.offers>div:nth-child(3):hover{
    background-color: #84c225;
    color: white;
    font-weight: bold;
}